<!DOCTYPE html>
<html lang=fr>
<meta charset = "utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<head>

    <link href="auguste.css" rel= stylesheet type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
    
        <% include partiels/header %>
        <% include partiels/navbar %>


<main>
        <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Louis-F%C3%A9lix_Amiel-Philippe_II_dit_Philippe-Auguste_Roi_de_France_%281165-1223%29.jpg/474px-Louis-F%C3%A9lix_Amiel-Philippe_II_dit_Philippe-Auguste_Roi_de_France_%281165-1223%29.jpg">
</div>
<h2>Philippe Auguste</h2>
        <p class="texte"> Philippe Auguste
                Philippe Auguste a comme objectif principal l'abaissement des Plantagenêt. Grâce à la mort de Richard Cœur de Lion le 6 avril 1199 lors du siège du château de Châlus, il fait la conquête entre 1202 et 1205 de la Normandie, du Maine, de l'Anjou, de la Touraine, du Nord du Poitou et de la Saintonge sur Jean sans Terre. En 1214, la victoire de Bouvines sur l'empereur du Saint-Empire et le comte de Flandre alliés au souverain anglais fait de Philippe Auguste le seigneur le plus puissant de tout le royaume et peut-être même d'Europe. Sur la route de Bouvines à Paris, la population salua vivement le roi vainqueur et Paris lui fit un accueil digne des triomphes de la Rome antique. C'est la première expression de « sentiment national » en France. À la suite de ses triomphes et de ses gains de territoires, Philippe II hérite du surnom romain d'Auguste, c'est désormais Philippe Auguste. Son fils Louis VIII continue à agrandir le domaine royal en soumettant l'ensemble du Poitou de la Saintonge et une partie du Languedoc pris aux Cathares. Sous Louis IX, le Languedoc est définitivement annexé au royaume.
                Sur le plan intérieur, Philippe Auguste collecte plus soigneusement les revenus du domaine royal. Il charge des fonctionnaires royaux, les baillis, d'administrer le domaine royal dans des circonscriptions appelées bailliages. Il vend des privilèges aux communes et aux métiers comme la guilde des marchands de l'eau à Paris. Ces ressources lui permettent de rétribuer des mercenaires et de construire des forteresses comme celle de Gisors. Il fait construire des nouveaux remparts autour de Paris, paver la ville et édifier la forteresse du palais du Louvre à l'extérieur de la ville où sont conservées les archives royales. </p>
</main>











<% include partiels/footer %>


</body>
</html>
