<!-- P p -->

<!DOCTYPE html>
<html lang=fr>
<meta charset = "utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<head>
<!-- <script type="text/javascript" src="/formulaire"></script> -->
    <link href="formulaire.css" rel= stylesheet type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

</head>
<body>

<% include partiels/header %>
<% include partiels/navbar %>



<div class="form-style-3">
    <form method="POST" test-form"> 
    <fieldset><legend>Personal</legend>
    <label for="field1"><span>Name <span class="required"></span></span><input type="text" class="input-field" name="field1" value="" /></label>
    <label for="field2"><span>Address <span class="required"></span></span><input type="text" class="input-field" name="field2" value="" /></label>
    <label for="field3"><span>Zipcode <span class="required"></span></span><input type="text" class="input-field" name="field3" value="" /></label>
    <label for="field4"><span>Country <span class="required"></span></span><input type="text" class="input-field" name="field4" value="" /></label>
    <label for="field5"><span>Date of Birth <span class="required"></span></span><input type="text" class="input-field" name="field5" value="" /></label>
    <label for="field6"><span>Email <span class="required"></span></span><input type="email" class="input-field" name="field6" value="" /></label>
    <label for="field7"><span>Phone <span class="required"></span></span><input type="text" class="input-field" name="field7" value="" /></label>

    <label for="field4"><span>Subject</span><select name="field4" class="select-field">
    <option value="Appointment">Start a Revolution</option>
    <option value="Interview">More Bread for the People</option>
    <option value="Regarding a post">F*** the Dynasty</option>
    <option value="Regarding a post">Donate to these already rich MOFOS</option>
    
    </select></label>
    </fieldset>
    <fieldset><legend>Message</legend>
    <label for="field6"><span>Message <span class="required">*</span></span><textarea name="field6" class="textarea-field"></textarea></label>
    <label><span> </span><input type="submit" value="Submit" /></label>
    </fieldset>
    </form>
    </div>

<!-- <div class="page">
        <div class="container">
          <div class="left">
            <div class="login">Login</div>
            <div class="eula">By logging in you agree to the ridiculously long terms that you didn't bother to read you MOFO.</div>
          </div>
          <div class="right">
            <svg viewBox="0 0 320 300">
              <defs>
                <linearGradient
                                inkscape:collect="always"
                                id="linearGradient"
                                x1="13"
                                y1="193.49992"
                                x2="307"
                                y2="193.49992"
                                gradientUnits="userSpaceOnUse">
                  <stop
                        style="stop-color:#ff00ff;"
                        offset="0"
                        id="stop876" />
                  <stop
                        style="stop-color:#5d4954;"
                        offset="1"
                        id="stop878" />
                </linearGradient>
              </defs>
              <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
            </svg>
            <div class="form">
              <label for="email">Email</label>
              <input type="email" id="email">

              <label for="name">Name</label>
              <input type="name" id="name">

              <label for="dob">Date of Birth</label>
              <input type="dob" id="dob">

              <label for="address">Address</label>
              <input type="address" id="address">

              <label for="number">Number</label>
              <input type="number" id="number">

              <label for="password">Password</label>
              <input type="password" id="password">

              <input type="submit" id="submit" value="Submit">
            </div>
          </div>
        </div>
      </div>    -->

    <% include partiels/footer %>
    <script>
    // var selectForm = document.forms[0,1,2,3,4,5];
// var selectFormElement = document.forms[0,1,2,3,4,5].elements[0,1,2,3,4,5];
    </script>
</body>
</html>
