<!-- P  p -->
<!DOCTYPE html>
<html lang=fr>
<meta charset = "utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<head>

    <link href="lebel.css" rel= stylesheet type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
    
        <% include partiels/header %>
        <% include partiels/navbar %>


<main>
       <div class="container">
               <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/B%C3%A9zard_-_Philippe_IV_le_bel.jpg/220px-B%C3%A9zard_-_Philippe_IV_le_bel.jpg">
        </div>
<h2>Philippe le Bel</h2>
        <p class="texte">Philippe IV, dit « le Bel »1 et « le Roi de fer » (né à Fontainebleau en avril/juin 1268 – mort à Fontainebleau le 29 novembre 1314), fils de Philippe III le Hardi et de sa première épouse Isabelle d'Aragon, est roi de France de 1285 à 1314, onzième roi de la dynastie des Capétiens directs.

                        Devenu roi à l'âge de dix-sept ans, à la mort de son père en octobre 1285, Philippe le Bel est considéré comme un roi important par les historiens.
                        
                        Sous son règne, le royaume de France atteignit l'apogée de sa puissance médiévale. Avec entre seize et vingt millions d'habitants2, c'était l'État le plus peuplé de la Chrétienté, il connaît une grande prospérité économique, le pouvoir royal accomplit de nombreux progrès, si bien qu'on voit dans Philippe IV, entouré de ses « légistes », le premier souverain « moderne » d'un État puissant et centralisé.
                        
                        Philippe IV eut des difficultés à reprendre la maîtrise des finances de son royaume et à mettre fin aux mutations monétaires. Pour cela, il a cru bon d'abattre l'ordre du Temple qui était devenu une puissance financière internationale, d'expulser les Juifs, de procéder à une dévaluation en rétablissant une monnaie d'or qui restera ferme pendant plus d'un siècle. À la fin du règne, les foires champenoises sont concurrencées par le commerce maritime direct de l'Europe du Nord avec l'Italie.
                        
                        Plusieurs affaires marquent le règne de Philippe IV. Le procès de l'évêque de Troyes, Guichard, accusé d'avoir tué la reine par sorcellerie, le procès de l'évêque de Pamiers, Bernard Saisset, qui ne fit qu'aggraver les démêlés du roi avec le Saint-Siège, l'affaire de la tour de Nesle (l'emprisonnement des brus du roi et l'exécution de leurs amants), mais surtout le célèbre procès des Templiers.
                        
                        Philippe le Bel est souvent entrevu comme un roi qui n'est plus celui du Moyen Âge « classique ». Bien qu'il ait été reconnu comme un souverain pieux et que son gouvernement ait continué l'évolution vers la centralisation de l'État amorcée un siècle plus tôt, bien qu'il ait eu une vénération spéciale pour son grand-père Louis IX dont il obtint la canonisation en 1297, Philippe IV apparaît comme un roi symbole d'une rupture avec le passé, particulièrement sur les liens entretenus entre les rois de France et les papes. Ses contemporains déplorèrent les détériorations survenues depuis « le temps de monseigneur Saint-Louis », considéré comme le bon temps. On pressentit ainsi un roi d'un nouveau type, annonciateur d'une autre époque.</p>
</main>











<% include partiels/footer %>

</body>
</html>
