<!-- P  p -->
<!DOCTYPE html>
<html lang=fr>
<meta charset = "utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<head>

    <link href="louis.css" rel= stylesheet type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

</head>

<body>
    
        <% include partiels/header %>
        <% include partiels/navbar %>


<main>
        <div class="container"> 
                <img src="https://anniversaire-celebrite.com/upload/250x333/louis-ix-250.jpg">

                </div>
                <div>
                        
                </div>
<h2>Louis IX</h2>
        <p class="texte">
                        Louis IX, dit « le Prudhomme »L 1 et plus communément appelé Saint Louisa, est un roi de France capétien né le 25 avril 1214 à Poissy et mort le 25 août 1270 à Carthage, près de Tunis. Il régna pendant plus de 43 ans de 1226 jusqu'à sa mort. Considéré comme un saint de son vivant, il est canonisé par l'Église catholique en 1297.

                        Quarante-quatrième roi de France, et neuvième issu de la dynastie des Capétiens directs, il est le quatrième ou cinquième enfant et deuxième fils connu du roi Louis VIII, dit « Louis le Lion », et de la reine Blanche de Castille, de laquelle il reçoit une éducation très stricte et très pieuse durant toute son enfance. Aîné des membres survivants de sa fratrie, il hérite de la couronne à la mort de son père, alors qu'il n'est âgé que de douze ans. Il est alors sacré le 29 novembre 1226 en la cathédrale de Reims, mais c'est la reine mère qui, conformément au testament de Louis VIII, exerce la régence du Royaume jusqu'à la majorité du nouveau monarque. Devenu adulte, Louis IX met fin au conflit entre Capétiens et Plantagenêt et se soucie de l'extension du domaine royal, auquel il rattache notamment les baillies d'Aix-en-Provence, Beaucaire et Carcassonne ainsi que les comtés de Blois, Chartres, Chateaudun et Sancerre, tout en consolidant sa souveraineté sur la Normandie, l'Anjou, la Touraine, le Maine et le Poitou. Il mène un règne inspiré des valeurs du christianisme qui contribue à fonder l'idée que les pouvoirs spirituel et politique peuvent être incarnés par un seul homme. Il atténue les excès de la féodalité au profit de la notion de bien commun et développe la justice royale où le souverain apparaît comme « le justicier suprême ». De cette manière, il fait progressivement passer la France d'une monarchie féodale à une monarchie moderne, ne reposant plus seulement sur les rapports personnels du roi avec ses vassaux, mais sur ceux du roi en tant que chef de l'État avec ses « sujets ».
                        
                        Louis IX est effectivement un roi réformateur qui veut léguer un royaume dont les sujets seront soumis à un pouvoir juste : il renouvelle la « quarantaine-le-roi », introduit dans le pays des baillis et des prévôts, ordonne la présomption d'innocence, atténue l'usage de la torture, interdit l'ordalie et la vendetta et institue la supplicatio, consistant à pouvoir faire appel au roi pour l'amendement d'un jugement. Sa réputation dépassant les frontières du Royaume, son arbitrage est parallèlement sollicité par les différentes monarchies d'Europe. Il établit également dans le Royaume une monnaie unique et se fait l'instigateur des institutions qui deviendront le Parlement et la Cour des comptes. Très pieux, il fait d'autre part construire plusieurs églises, abbayes et hospices, vient en aide aux plus faibles, travaille à la conversion des princes mongols, soutient la fondation du collège de Sorbonne et se procure des reliques de la Passion pour lesquelles il fait construire la Sainte-Chapelle en 1242.
                        
                        Conformément à son vœu prononcé à la suite d'une grave maladie, puis confirmé à la suite d'une guérison considérée comme miraculeuse, Saint Louis part se battre avec ses frères Robert d'Artois, Alphonse de Poitiers et Charles d'Anjou, en Égypte, lors de la septième croisade. À son retour, alors qu'il est persuadé que son échec est dû à l'état d'immoralité du Royaume, il travaille à renforcer son autorité et à rétablir la moralité chrétienne. Il décide ainsi de punir le blasphème, les jeux d'argent, les prêts à intérêts et la prostitution ; il tente également de convertir de gré ou de force les juifs de France. À cette fin, il finit par leur imposer diverses mesures, dont le brûlement du Talmud et, vers la fin de son règne, le port de la rouelle. Enfin, en 1270, il repart en Tunisie pour la huitième croisade, au cours de laquelle il meurt, probablement de la dysenterie.
                        
                        Il est canonisé le 11 août 1297 sous le nom de saint Louis de France par le pape Boniface VIII, sous l'impulsion de son petit-fils Philippe IV le Bel. Sa fête liturgique est fixée au jour anniversaire de sa mort, c'est-à-dire le 25 août. Aujourd'hui considéré comme un monarque ayant offert à la France un renouveau économique, intellectuel et artistique, il est considéré comme l'un des trois grands Capétiens directs avec son grand-père Philippe Auguste et son petit-fils Philippe IV le Bel.</p>
                
</main>











<% include partiels/footer %>


</body>
</html>
