<!-- P  p -->

<!DOCTYPE html>

<html lang=fr>
<meta charset = "utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<head>
        <link href="footer.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
</head>


<footer>
                <div class="hoja" id="clock">&nbsp;</div>
                  <p class="foot"> © MOFO Dynasty Copyright and stuff </p>
                  
              
              </footer>
              <script src="utils.js">
              </script>
