<!-- P  p -->

<!DOCTYPE html>

<html lang=fr>
<meta charset = "utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<head>

        <link href="header.css" rel="stylesheet" type="text/css">
</head>

    <header>

    </header>