<!-- P  p -->

<!DOCTYPE html>

<html lang=fr>
<meta charset = "utf-8">

<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="HandheldFriendly" content="true">

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="/navbar.css" rel="stylesheet" type="text/css">
</head>

<nav>
    
    <div class="header"></div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <ul class="sidebarMenuInner">
        <li>Menu</li>
        <li><a href="/">Accueil</a></li>
        <li><a href="/hugues" >Hugues Capet</a></li>
        <li><a href="/auguste">Philippe Auguste</a></li>
        <li><a href="/louis">Louis IX</a></li>
        <li><a href="/lebel">Philippe le Bel</a></li>
        <li><a href="/formulaire">Adhésion</a></li>
      </ul>
    </div>
 
     
  
</nav>



