

footer {
    margin:0;
    height: 75px;
    width: 100%;
    bottom:0;
    background: linear-gradient(to right, #FC466B 0%, #3F5EFB 100%);
    text-align: center;

  }

  .foot {
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      color: rgb(226, 226, 226);
      text-align: center;
      margin: 0;
      padding-top: 1.8rem;

  }

  #clock { 
    font-family: 'Poppins', sans-serif; 
    background-color: #FC466B; 
    color: #3F5EFB;
    margin-right: 23px; 
    float: right;
    margin-top: 1em;
    width: 4em;
    height: 3em;
    box-shadow: 0px 8px 22px 0px #FFFACD;
  
  }
 

  /* responsive footer fix  
  This is where the magic happens */
  @media (max-width: 767px) {
    
  
    .foot {
        float: left;
        padding-left: 5px;
        font-size: 12px;

    }
  }
  @media(min-width: 768px) and (max-width: 1388px)

  {
    
  
    .foot {
     float: left;
     padding-left: 5px;
     font-size: 12px;
    }
  
  }	
