* {
    margin: 0px;
    padding: 0px; 
    box-sizing:border-box;

}

body {
	background-color: #193c6d;
	filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
	background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
	background-size: 100%;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #FC466B));
	background-image: -webkit-linear-gradient(135deg, #003073, #FC466B);
	background-image: -moz-linear-gradient(45deg, #003073, #FC466B);
	background-image: -ms-linear-gradient(45deg, #003073 0, #FC466B 100%);
	background-image: -o-linear-gradient(45deg, #003073, #FC466B);
	background-image: linear-gradient(135deg, #003073, #FC466B);
	text-align: center;
	margin: 0px;
	/* overflow: hidden; */
  }

img {
	width: 220px;
	height: 200px;
	box-sizing: border-box;
	border: 5px #3F5EFB solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

h2 {
	font-family: 'Poppins', sans-serif;
		color: white;
	}
	
.container {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

p {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: block;
    margin: 180px;
}



	@media(min-width: 768px) and (max-width: 1388px)

	{
	
		.texte {
			margin: 15px;
		}
	
	}	
	
	
	
	
	@media screen and (max-width: 765px) 
	{
		.texte {
			margin: 10px;
	
	}
}