/* P  p */


/* Diaporama */
* {
    margin: 0px;
    padding: 0px; 
    box-sizing:border-box;

}


body {
  background-color: #193c6d;
  filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
  background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #FC466B));
  background-image: -webkit-linear-gradient(135deg, #003073, #FC466B);
  background-image: -moz-linear-gradient(45deg, #003073, #FC466B);
  background-image: -ms-linear-gradient(45deg, #003073 0, #FC466B 100%);
  background-image: -o-linear-gradient(45deg, #003073, #FC466B);
  background-image: linear-gradient(135deg, #003073, #FC466B);
  /* text-align: center; */
  margin: 0px;
  /* overflow: hidden; */
}


/* Slideshow container */
.slideshow-container {
  width: 550px;
  height: 360px;
  position: relative;
  margin: auto;
  margin-top: 12rem;
  border: 5px solid #FC466B;
  border-radius: 7%;
}

img {
    border-radius:6%;
    height: 350px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #3F5EFB;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: white;
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Fin Diaporama */


.capetiens {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: block;
    margin: 180px;
}




@media(min-width: 768px) and (max-width: 1388px)

{

	.capetiens {
		margin: 15px;
  }
  
  .slideshow-container {
    width: 350px;
    height: 250px;
    margin-top: 6rem;
  }

img {
  
  height: 240px;
}
}



@media screen and (max-width: 765px) 
{
	.capetiens {
		margin: 10px;

}
.slideshow-container {
  width: 350px;
  height: 250px;
  margin-top: 6rem;
}
img {
  
  height: 240px;
}

}